<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/<%= actcss %>">
    <title>Answer</title>
</head>
<body>
Welcome <%= nameInput %>, you are <%= ageInput %> years old

</body>
</html>