<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/<%= actcss %>">
    <title>Current time</title>
</head>
<body>
<form action="/operate" method="post">
    Name:<input type="text" name="name">
    Age:<input type="number" name="age">
    <input type="submit" value="Submit Query"></form>
</body>
</html>