body {
	background-color: gray;
}

p::first-letter {
    font-size: xx-large;
    font-weight: bold;
}

h1 {
	color: blue;
}

h2 {
	color: darkblue;
}

.description {
    display: flex;
    padding-left: 30px;
    display: grid;
    align-items: center;
}